.rankContainer {
    border: 1px solid #19191f;
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    margin: 5px;
    align-items: center;
    gap: 20px;
}

.tierWrapper {
    position: relative;
    display: flex;
    width: 5rem;
    height: 5rem;
    padding: 5px;
}

.tierTitle {
    position: relative;
    display: flex;
    border: 1px solid #19191f;
    padding: 5px;
    border-radius: 5px;
}

.textSPlus {
    color: #ff8aba;
}

.textS {
    color: #d6274c;
}

.textA {
    color: #9133ff;
}

.textB {
    color: #5543ff;
}

.textC {
    color: #00ff97;
}

.textD {
    color: #abdbff;
}