* {
  background-color: #0c0c0e;
  box-sizing: border-box;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  scrollbar-color: #19191f #0c0c0e;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}


/* Page Smooth Transition - might remove later, uses states to ease in page changes. */
.page-transition {
  opacity: 0;

  transition: opacity 0.15s ease-in-out;
}

.page-enter {
  opacity: 1;
}

.page-exit {
  opacity: 0;
}
